.trend-section {
    padding: 1rem 0;
}

.error {
    text-align: center;
    color: red;
}

.trend-header {
    text-align: center;
    padding: 1rem 0;
}

.trend-header h1 {
    font-size: 2rem;
}


@media (max-width: 700px) {}