:root {
  /* Span / Highlight Background Gradient */
  --gradient-span-bg: linear-gradient(135deg, #793221, #feb47b, #b78f16);

  /* Primary Text Gradient */
  --gradient-primary-text: linear-gradient(90deg, #ffffff, #cf6604, #00eeff);

  /* Secondary Text Gradient (lighter / subtle) */
  --gradient-secondary-text: linear-gradient(90deg, #a0a0a0, #dcb2b268, #e0e0e0);
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header h1 {
  background: var(--gradient-primary-text);
  -webkit-background-clip: text;
  /* clip the gradient to the text */
  -webkit-text-fill-color: transparent;
  /* make text color transparent */
  font-size: 36px;
  margin-bottom: 10px;
}

.header p {
  background: var(--gradient-secondary-text);
  -webkit-background-clip: text;
  /* clip the gradient to the text */
  -webkit-text-fill-color: transparent;
  /* make text color transparent */
  font-size: 13px;
}


.title span {
  background: var(--gradient-span-bg);
  -webkit-background-clip: text;
  /* clip the gradient to the text */
  -webkit-text-fill-color: transparent;
  /* make text color transparent */
  font-size: 36px;
}

.header p {
  color: var(--text-primary);
}

.main-img {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin 12s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 450px) {
  .main-img {
    width: 20px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0;
  } */


/* } */